In [2]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv('adult.data.csv')

In [4]:
# get to know how the data is constructed
# what columns and contents does it have
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# basic descriptive statistis of the df
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
# indicating a column first and then applying the method- relevant aggregation
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [7]:
# What is the average age of men?
# indicating column and the row value, then column being a subject to aggregation, and finally the method (avg)
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
print(average_age_men)

39.4

In [12]:
# What is the percentage of people who have a Bachelor's degree?
# shape[0] is a method accessing the number of rows in the DataFrame
# it counts the number of records or observations in a DataFrame

# we first count the number of appearances of "Bachelors"
bachelors_count = df[df['education'] == 'Bachelors'].shape[0]
# total row count
total_count = df.shape[0]
# simple division
percentage_bachelors = (bachelors_count / total_count) * 100
print(percentage_bachelors)

16.44605509658794

In [21]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# df with ppl with higher edu degree only
high_edu = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
# df with ppl with higher edu degree earning > 50k
high_pay = high_edu[high_edu['salary'] == '>50K']
# total ct of ppl with higher edu degree
total_count = high_edu.shape[0]
# ppl with higher edu degree & >50k pay count
high_pay_ct = high_pay.shape[0]
# high earners ratio
percentage_high_salary = (high_pay_ct / total_count) * 100
print(percentage_high_salary)

46.535843011613935

In [22]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = percentage_high_salary
# negation operator ~ excludes rows with certain values
not_high_edu = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high_pay_low_edu = not_high_edu[not_high_edu['salary'] == '>50K']
total_low_ct = not_high_edu.shape[0]
high_pay_low_edu_ct = high_pay_low_edu.shape[0]
lower_education = (high_pay_low_edu_ct / total_low_ct) * 100
print(lower_education)

17.3713601914639

In [25]:
    # percentage with salary >50K
    higher_education_rich = higher_education
    lower_education_rich = lower_education
print("High edu, high earners percentage:", round(higher_education,2))
print("Low edu, high earners percentage:", round(lower_education,2))

High edu, high earners percentage: 46.54
Low edu, high earners percentage: 17.37

In [27]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [30]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_h = df[df['hours-per-week'] == 1]
num_min_workers = min_h.shape[0]
rich_min = min_h[min_h['salary'] == '>50K']
rich_min_ct = rich_min.shape[0]
rich_percentage = (rich_min_ct / num_min_workers) * 100
print(rich_percentage)

10.0

In [38]:
# What country has the highest percentage of people that earn >50K?
high_salary = df[df['salary'] == '>50K']
# Group by 'native country' and calculate percentage of high earners
highest_earning_country_percentage = high_salary.groupby('native-country').size() / df.groupby('native-country').size() * 100
# Find the country with the highest percentage
highest_earning_country = highest_earning_country_percentage.idxmax()
highest_percentage = highest_earning_country_percentage.max()
print("Country with the highest percentage of people earning more than 50K:", highest_earning_country)
print("Percentage:", round(highest_percentage,2))

Country with the highest percentage of people earning more than 50K: Iran
Percentage: 41.86

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None